.drivers {
	@include tableParentDiv;

	h2 {
		@include tableParentDivHeadline;
	}

	table {
		@include table;

		thead {
			@include tableThead;

			th {
				@include tableTh;
			}
		}

		tbody {
			tr {
				td {
					@include tableTd;
				}

				.driverPosition {
					@include positionCol;
				}

				.points {
					color: $color-black;
				}

				a {
					@include anchor;
					border: none;
					outline: none;
				}

				/*td klasa*/
				.fullName {
					display: flex;
					align-items: center;
					img {
						margin-right: 10px;
					}
				}
			}
		}
	}
}
